@model Rental.WEB.Models.Domain_Models.Rent.ConfirmDM

@{
    ViewBag.Title = "Принять";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.HiddenFor(x => x.Order.Id)
    <div class="row">
        <div class="col-md-5">
            <h3>Паспортные данные клиента:</h3>
        </div>
        <div class="col-md-7">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.Surname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.Surname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.Patronymic)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.Patronymic)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.Sex)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.Sex)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.DateOfBirth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.DateOfBirth)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.DateOfExpiry)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.DateOfExpiry)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.Number)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.Number)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.Nationality)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.Nationality)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.Record)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.Record)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.DateOfIssue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.DateOfIssue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.RNTRC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.RNTRC)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.Authory)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.Authory)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.Profile.PlaceOfBirth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.Profile.PlaceOfBirth)
                </dd>

            </dl>
        </div>
    </div>
    <hr />
    <h3>Заказ:</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Автомобиль
            </dt>

            <dd>
                @Model.Order.Car.Brand.Name @Model.Order.Car.Model
            </dd>

            <dt>
                Период
            </dt>

            <dd>
                с @Model.Order.DateStart.ToShortDateString() по @Model.Order.DateEnd.ToShortDateString()
            </dd>

            <dt>
                С водителем
            </dt>

            <dd>
                @if (Model.Order.WithDriver)
                {
                    @:Да
                }
                else
                {
                    @:Нет
                }
            </dd>
            <dt>
                Сумма
            </dt>

            <dd>
                @Html.DisplayFor(x => x.Order.Payment.Price)
            </dd>

            <dt>
                Оплачен
            </dt>

            <dd>
                @if (Model.Order.Payment.IsPaid)
                {
                    @:Да
                }
                else
                {
                    @:Нет
                }
            </dd>

        </dl>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.IsConfirmed, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsConfirmed,new {htmlAttributes=new {id="check" } })
                @Html.ValidationMessageFor(model => model.IsConfirmed, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group" id="comment">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Подтвердить" class="btn btn-default btn-dark" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            var c = document.getElementById("check");
        c.addEventListener('change', function () {
                if (this.checked) {
                    $("#comment").hide();
                } else {
                    $("#comment").show();
                }
            });

    </script>
}
