@using Rental.WEB.Helpers
@model Rental.WEB.Models.View_Models.Manager.ShowReturnsVM

@{
    ViewBag.Title = "Возврат";
    int f = 0;
    int n = 0;
}

@Styles.Render("~/Content/styles/manager/show-returns")
@Styles.Render("~/Content/styles/shared/filter")

<div class="row">
    <div id="filter" class="col-md-4">
        @using (Html.BeginForm("ShowReturns", "Manager", FormMethod.Post, new { id = "filters" }))
        {
            <input type="hidden" value="@Model.SelectedMode" name="selectedMode" />

            <div id="button-container" class="container-fluid text-center">
                <button id="start-filters" type="submit" value="1" name="sortMode" class="btn btn-warning">Отфильтровать</button>
                <input type="reset" value="Сбросить" class="btn btn-default" onclick="document.location='@Url.Action("ShowReturns", "Manager")'" />
            </div>
            <br />
            foreach (var i in Model.Filters.GroupBy(x => x.Name))
            {
                <div class="">
                    <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#filter-collapse-@f">
                        @( i.Key) <span class="glyphicon glyphicon-menu-down"></span>
                    </div>
                    <div class="collapse" id="filter-collapse-@(f++)">
                        <ul class="filter-items">
                            @foreach (var j in i)
                            {
                                <li>
                                    <input type="hidden" name="Filters[@n].Name" value="@j.Name" />
                                    <input type="hidden" name="Filters[@n].Text" value="@j.Text" />
                                    <input id="it@(n)" type="checkbox" name='Filters[@(n)].Checked' value="true"
                                           @(j.Checked ? "checked=\"checked\"" : "") />
                                    <label for="it@(n++)" class="text-warning">@j.Text</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <br />
            }
        }
    </div>
    <div class=" col-md-8">
        <div>
            <div class="dropdown">
                <button class="btn btn-secondary btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Model.SortModes[Model.SelectedMode - 1]
                    <span class="glyphicon  @((Model.SelectedMode - 1)%2==0?"glyphicon-arrow-up":"glyphicon-arrow-down")"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @for (int i = 0; i < Model.SortModes.Count; i++)
                    {<div class="dropdown-item">
                            <button class="btn " type="submit" name="sortMode" form="filters" value="@(i+1)">
                                @Model.SortModes[i]
                                <span class="glyphicon  @(i%2==0?"glyphicon-arrow-up":"glyphicon-arrow-down")"></span>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model != null && Model.Orders != null && Model.Orders.Count > 0)
        {
            foreach (var i in Model.Orders)
            {
                <div class="col-md-12">
                    <div class="col-md-10">
                        <h4><b>Номер: </b>@i.Id</h4>
                        <h4><b>Автомобиль: </b> @i.Car.Brand.Name @i.Car.Model</h4>
                        <h4><b>Период: </b> с @i.DateStart.ToShortDateString() по @i.DateEnd.ToShortDateString()</h4>

                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-danger btn-dark" href="@Url.Action("Return","Manager",new { id=i.Id})">Принять</a>
                    </div>
                </div>
                <hr />

            }
            if (Model.PageInfo.TotalPages > 1)
            {
                <br />
                <div class="text-right">
                    <div class="btn-group">
                        @Html.PageLinks(Model.PageInfo, "filters")
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                <h4>Заказы не найдены...</h4>
            </div>
        }
    </div>
</div>