@model Rental.WEB.Models.Domain_Models.Identity.UserDM

@{
    ViewBag.Title = Model.Name;
}

<div>
    @if (!Model.ConfirmedEmail)
    {
        <h2 class="text-center text-danger">Пожалуйста подтвердите Email</h2>
        <div class="center-block text-center">
            <a href="@Url.Action("SendEmailForConfirm","Account")" class=" center-block text-center btn btn-warning">Отправить сообщение с инструкцией</a>
        </div>
  }
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
                <br />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
                <br />
            </dd>
            <dt>

            </dt>
            <dd>
                <a class="btn btn-default btn-dark" href="@Url.Action("ChangeEmail", "Account")">Изменить почту</a>
                <br />
            </dd>
            @if (Model.ConfirmedEmail)
            {
                <dt>

                </dt>
                <dd>
                    <a class="btn btn-default btn-dark" href="@Url.Action("ChangeName", "Account")">Изменить имя</a>
                    <br />
                </dd>
                <dt>

                </dt>
                <dd>
                    <a class="btn btn-default btn-dark" href="@Url.Action("ResetPasswordEmail", "Account", new { email = User.Identity.Name })">Изменить пароль</a>
                    <br />
                </dd>
            }
            <dt>

            </dt>
            <dd>
                <a class="btn btn-default btn-dark" href="@Url.Action("LogOut","Account")">Выйти</a>
                <br />
            </dd>
        </dl>

</div>