@model Rental.WEB.Models.Domain_Models.Rent.CarDM

@{
    ViewBag.Title = Model.Model;
}

@Styles.Render("~/Content/styles/rent/car")

<div class="row">
    <div class="col-md-5">
        <div id="my-pics" class="carousel slide " data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            @if (Model.Images.Count > 1)
            {
                <ol class="carousel-indicators">
                    @for (int j = 0; j < Model.Images.Count; j++)
                    {
                        <li data-target="#my-pics" data-slide-to="@j" class="@(j == 0 ? "active" : "")"></li>
                    }
                </ol>
            }
            <!-- Content -->
            <div class="carousel-inner" role="listbox">
                <!-- Slide 1 -->
                @for (int j = 0; j < Model.Images.Count; j++)
                {
                    <div class="item @(j==0?"active":"")">
                        <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Images[j].Photo))" alt="@Model.Images[j].Text">
                    </div>
                }
            </div>
            @if (Model.Images.Count > 1)
            {
                <!-- Previous/Next controls -->
                <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


            }
        </div>
    </div>
    <div class="col-md-7">
        <h2>@Model.Brand.Name @Model.Model</h2>
        <h4>@Model.Price за сутки</h4>
            @if (!Model.IsDeleted && User.Identity.IsAuthenticated && User.IsInRole("client"))
            {
        <p><a class="btn btn-default btn-dark @(Model.IsDeleted ? "disabled" : "") " href="@Url.Action("MakeOrder", "Client", new { carId = Model.Id })">Арендовать</a></p>
            }
    </div>
    <div id="properties" class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item black">Характеристики</li>
            <li class="list-group-item">Атрибут качества: @Model.Quality.Text</li>
            <li class="list-group-item">Номер: @Model.Number</li>
            <li class="list-group-item">Количество дверей: @Model.Doors</li>
            <li class="list-group-item">Вместительность: @Model.Кoominess</li>
            <li class="list-group-item">Топливо: @Model.Fuel</li>
            <li class="list-group-item">Грузоподьемность: @Model.Carrying</li>
            <li class="list-group-item">Обьем двигателя: @Model.EngineVolume</li>
            <li class="list-group-item">Лошадиные силы: @Model.Hoursepower</li>
            <li class="list-group-item">Год выпуска: @Model.DateOfCreate.Year</li>
            <li class="list-group-item">Коробка передач: @Model.Transmission.Category-@Model.Transmission.Count</li>
            <li class="list-group-item">Кузов: @Model.Carcass.Type</li>
            @if (Model.Properties != null)
            {
                foreach (var i in Model.Properties)
                {
                    <li class="list-group-item">@i.Name: @i.Text</li>
                }
            }
        </ul>
        <hr />
        <h4>График занятости:</h4>
        <div class="col-md-4">
            @foreach(var i in ViewBag.FreeDays as Dictionary<DateTime, bool>)
            {
                <span class="btn-date btn @(!i.Value?"btn-danger": "btn-success")">@(i.Key.Day).@(i.Key.Month)</span>
            }
        </div>
    </div>
</div>