@using Rental.WEB.Helpers
@model Rental.WEB.Models.View_Models.Rent.IndexVM

@{
    ViewBag.Title = "Cardoor";
    int f = 0;
    int n = 0;
}

@Styles.Render("~/Content/styles/rent/index")

@Styles.Render("~/Content/styles/shared/filter")

<div class="row">
    <div id="filter" class="col-md-4">
        @using (Html.BeginForm("Index", "Rent", FormMethod.Post, new { id = "filters" }))
        {
            <input type="hidden" value="@Model.SelectedMode" name="selectedMode" />

            <div id="button-container" class="container-fluid text-center">
                <button id="start-filters" type="submit" value="1" name="sortMode" class="btn btn-warning">Отфильтровать</button>
                <input type="reset" value="Сбросить" class="btn btn-default" onclick="document.location='@Url.Action("Index", "Rent")'" />
            </div>
            if (Model.PriceMax > 0 && Model.PriceMax != Model.PriceMin)
            {
                <div id="filter-item" class="col-md-12">
                    <input type="hidden" name="PriceMax" value="@Model.PriceMax" />
                    <input type="hidden" name="PriceMin" value="@Model.PriceMin" />
                    <input type="hidden" name="CurrentPriceMin" id="current-price-min" value="@Model.CurrentPriceMin" />
                    <input type="hidden" name="CurrentPriceMax" id="current-price-max" value="@Model.CurrentPriceMax" />
                    <div class="row text-warning" id="price-box">
                        <span class="col-md-6 col-lg-6 col-sm-6 col-xs-6" id="price-min"></span>
                        <span class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-right" id="price-max"> </span>
                    </div>
                    <br />
                    <div id="price-range"></div>

                </div>
            }

            <br />
            <br />
            <br />
            <br />

            foreach (var i in Model.Filters.GroupBy(x => x.Name))
            {
                <div class="">
                    <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#filter-collapse-@f">
                        @( i.Key) <span class="glyphicon glyphicon-menu-down"></span>
                    </div>
                    <div class="collapse" id="filter-collapse-@(f++)">
                        <ul class="filter-items">
                            @foreach (var j in i)
                            {
                                <li>
                                    <input type="hidden" name="Filters[@n].Name" value="@j.Name" />
                                    <input type="hidden" name="Filters[@n].Text" value="@j.Text" />
                                    <input id="it@(n)" type="checkbox" name='Filters[@(n)].Checked' value="true"
                                           @(j.Checked ? "checked=\"checked\"" : "") />
                                    <label for="it@(n++)" class="text-warning">@j.Text</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <br />
            }
        }
    </div>
    <div class="col-md-8">
        <div>
            <div class="dropdown">
                <button class="btn btn-secondary btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Model.SortModes[Model.SelectedMode - 1]
                    <span class="glyphicon  @((Model.SelectedMode - 1)%2==0?"glyphicon-arrow-up":"glyphicon-arrow-down")"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @for (int i = 0; i < Model.SortModes.Count; i++)
                    {<div class="dropdown-item">
                            <button class="btn " type="submit" name="sortMode" form="filters" value="@(i+1)">
                                @Model.SortModes[i]
                                <span class="glyphicon  @(i%2==0?"glyphicon-arrow-up":"glyphicon-arrow-down")"></span>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model != null && Model.Cars != null && Model.Cars.Count > 0)
        {
            foreach (var i in Model.Cars)
            {
                <div class="col-md-12 car-item">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Carousel container -->
                            <div id="my-pics-@i.Id" class="carousel slide " data-ride="carousel" data-interval="false">
                                <!-- Indicators -->
                                @if (i.Images.Count > 1)
                                {
                                    <ol class="carousel-indicators">
                                        @for (int j = 0; j < i.Images.Count; j++)
                                        {
                                            <li data-target="#my-pics" data-slide-to="@j" class="@(j == 0 ? "active" : "")"></li>
                                        }
                                    </ol>
                                }
                                <!-- Content -->
                                <div class="carousel-inner" role="listbox">
                                    <!-- Slide 1 -->
                                    @for (int j = 0; j < i.Images.Count; j++)
                                    {
                                        <div class="item @(j==0?"active":"")">
                                            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(i.Images[j].Photo))" alt="@i.Images[j].Text">
                                        </div>
                                    }
                                </div>
                                @if (i.Images.Count > 1)
                                {
                                    <!-- Previous/Next controls -->
                                    <a class="left carousel-control" href="#my-pics-@i.Id" role="button" data-slide="prev">
                                        <span class="icon-prev" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#my-pics-@i.Id" role="button" data-slide="next">
                                        <span class="icon-next" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>


                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>@i.Brand.Name @i.Model</h2>
                            <h4 class="price text-right">@i.Price грн. сутки</h4>
                            <h5>Атрибут качества: @i.Quality.Text</h5>

                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <span class="glyphicon glyphicon-user"></span>
                                    @i.Кoominess
                                </li>
                                <li class="list-group-item">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                    @i.Transmission.Category
                                </li>
                                <li class="list-group-item">
                                    <span class="glyphicon glyphicon-fire"></span>
                                    @i.Fuel
                                </li>
                                <li class="list-group-item">
                                    <span class="glyphicon glyphicon-forward"></span>
                                    @i.EngineVolume
                                </li>
                            </ul>
                            <p class="text-right">
                                <a class="btn btn-default btn-dark" href="@Url.Action("Car","Rent",new { id=i.Id})">Подробнее &raquo;</a>
                            </p>
                        </div>
                        <div class="col-md-12">

                        </div>
                    </div>

                </div>
            }
            if (Model.PageInfo.TotalPages > 1)
            {

                <div class="text-right">
                    <div class="btn-group">
                        @Html.PageLinks(Model.PageInfo, "filters")
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                <h4>Автомобили не найдены...</h4>
            </div>
        }
    </div>

</div>
@section scripts{
    <script>
    $(function () {
            $("#price-range").slider({
                range: true,
                min: parseInt(@((int)Model.PriceMin)),
                max:parseInt(@((int)Model.PriceMax)),
                values: [parseInt(@Model.CurrentPriceMin), parseInt(@Model.CurrentPriceMax)],
                slide: function (event, ui) {
                document.getElementById("price-min").innerText =ui.values[0];
               document.getElementById("price-max").innerText =ui.values[1];
                    $("#current-price-min").val(ui.values[0]);
                    $("#current-price-max").val( ui.values[1]);
                }
            });
           document.getElementById("price-min").innerText =@Model.CurrentPriceMin;
        document.getElementById("price-max").innerText =@Model.CurrentPriceMax;
        });
    </script>
}

