@model Rental.WEB.Models.Domain_Models.Identity.ProfileDM

@{
    ViewBag.Title = "Профиль";
}

<div>
    <h4>Профиль</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfExpiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfExpiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Record)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Record)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNTRC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNTRC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

    </dl>
    <a class="btn btn-default btn-dark" href="@Url.Action("UpdateProfile","Client")">Изменить</a>
</div>
